### How would the annual performance reports of honey bees compare to the annual reports released by Bumble? What are the relative strengths and weaknesses of each entity and what opportunities and risks should potential stakeholders be aware of? 
#### Key Metrics (annually and 3 year average)
    Revenue
	Revenue per paying user
	Net earnings
    Ebitda/ Annual Profit margin/ Contribution Margin (as a percent)
	Main areas of financial loss
#### Other Questions
-How would queen bees be compensated if they were paid on similar scale to bumble CEOs (ceo comp data is in bumble proxy report)

-How much are the relative workforce costs?

-Can we track any seasonality trend (seasonality data is reported in bumble annual report)

In [2]:
#Library setup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import locale
locale.setlocale(locale.LC_NUMERIC, 'en_US.UTF-8')

'en_US.UTF-8'

#### Bumble Inc Metrics

In [4]:
#Read in and clean annual report
bb_op_costs23 = pd.read_csv('../data/23operating_costs.csv')
bb_op_costs = bb_op_costs23.rename(columns = {'in_thousands': 'metric_in_thousands', 'ye_2023': '2023', 'ye_2022': '2022', 'ye_2021': '2021'})
bb_op_costs = bb_op_costs.set_index('metric_in_thousands').transpose()
bb_op_costs

metric_in_thousands,Revenue,Costofrevenue,Sellingandmarketingexpense,Generalandadministrativeexpense,Productdevelopmentexpense,Depreciationandamortizationexpense,Totaloperatingcostsandexpenses,Operatingearnings(loss),"Interestincome(expense),net","Otherincome(expense),net",Income(loss)beforeincometax,Incometaxbenefit(provision),Netearnings(loss),Netearnings(loss)attributabletononcontrollinginterests,Netearnings(loss)attributabletoBumbleInc.shareholders
2023,1051830,307835,270380,221649,130565,68028,998457,53373,-21534,-26537,5302,-7170,-1868,2345,-4213
2022,"903,503","249,490","249,269","308,855","109,020","89,713","1,006,347",-102844,"-24,063",16189,-110718,-3406,-114124,-34378,-79746
2021,"760,910","205,573","211,711","257,489","113,764","107,056","895,593","(134,683","-24,574","3,160",-156097,"437,837","281,740",-28075,"309,815"

In [12]:
#Format revenue values with local to remove commas and cast as float
bb_op_costs['Revenue'] = bb_op_costs['Revenue'].astype(str)
for value in bb_op_costs['Revenue']:
    print(locale.atof(value))

1051830.0
903503.0
760910.0

In [ ]:
bb_op_costs

for ind, row in people_df.iterrows():
    if row['sibling_count'] == 0:
        people_df.loc[ind, 'birth_category'] = 'only'